# Python
__pycache__/
*.pyc

# Virtual environments (IMPORTANT)
.venv/
venv/
Main App/.venv/
Main App/venv/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Database
Main App/data.db

# Logs
*.log